.Userprofile-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}


.userprofile {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 6vh;
    gap: 20px;
}


.Userprofile-container .userprofile .left {
   
    background-color: #fcf7f7;
    border-radius: 10px;
    min-height: 80vh;
    
    width: 18%;
}


.Userprofile-container .userprofile .right {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    min-height: 50vh;
    width: 70%;
}