
.account-container {
    padding-top: 30px;
}


.account-title {
  font-family: 'Josefin Sans';
  text-align: left;
  padding-bottom: 20px;
  color: #e66d4f;
  font-size: 25px;

}

.edit-button {
    position: relative;
    top: 50px; 
    right: 45px; 
    border-radius: 50%;
    padding: 5px;
    line-height: 1;
    background-color: #fff;
    color: #fff;
    border: 1px solid #e66d4f;
    
  }
  
  .edit-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
  
  }

  
  .profileimage{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }